.container {
  margin: auto;
  width: auto;
}

span {
  font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
  
}

.radial-progress {
  float: left;
  margin: 25px;
  width: 120px;
  height: 120px;
  position: relative;
  background-color: #d7d7d7;
  border-radius: 50%;
}
@media (max-width: 480px) {
  .radial-progress {
    width: 85px;
    height: 85px;
  }
}
.radial-progress .circle .mask, .radial-progress .circle .fill, .radial-progress .circle .shadow {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}
@media (max-width: 480px) {
  .radial-progress .circle .mask, .radial-progress .circle .fill, .radial-progress .circle .shadow {
    width: 85px;
    height: 85px;
  }
}
.radial-progress .circle .mask, .radial-progress .circle .fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
}
.radial-progress .circle .mask.reanimate, .radial-progress .circle .fill.reanimate {
  transition: -webkit-transform 0s;
  transition: -ms-transform 0s;
  transition: transform 0s;
}
.radial-progress .circle .mask.reset, .radial-progress .circle .fill.reset {
  -webkit-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}
.radial-progress .circle .mask {
  clip: rect(0.px, 120px, 120px, 60px);
}
@media (max-width: 480px) {
  .radial-progress .circle .mask {
    clip: rect(0px, 85px, 85px, 42.5px);
  }
}
.radial-progress .circle .mask .fill {
  clip: rect(px, 60px, 120px, 0px);
  background-color: #EA463D;
}
@media (max-width: 480px) {
  .radial-progress .circle .mask .fill {
    clip: rect(px, 42.5px, 85px, 0px);
  }
}
.radial-progress .inset {
  width: 100px !important;
  height: 100px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px !important;
  background-color: #fbfbfb;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
}
@media (max-width: 480px) {
  .radial-progress .inset {
    width: 66px !important;
    height: 66px !important;
    margin: -33px 0 0 -33px !important;
    line-height: 90px;
  }
}
.radial-progress .little {
  font-size: 22px;
  color: #d7d7d7;
}
@media (max-width: 480px) {
  .radial-progress .little {
    font-size: 12px;
  }
}
.radial-progress .big {
  font-size: 37px;
}
@media (max-width: 480px) {
  .radial-progress .big {
    font-size: 27px;
  }
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

body {
	background-color:#706C6D
}
header {
	text-align: center
}


.active {
	background-color: red
}

